.login-form {
    height: 100% !important;
}

.container {
    height: 100% !important;
    margin-top: -57px;
    padding-top:57px;
    max-width:1250px !important;
    padding-bottom:20px;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.registration-form{
    height: 100% !important;
    margin-top:50px;
}
.card-header{
    background-color: #777F87 !important;
    color:white !important;
}

.registration-card-buyer:hover{
    background-color: #254b3d;
    font-size: 20px;
    color:#254b3d;
}

.registration-warning{
    color:red;
    font-weight: bold;
}

.registration-card-renter:hover{
    background-color: #3f394f;
    font-size: 20px;
    color:#3f394f;
}

.registration-info-renter:hover{

}

.card{
    margin-bottom: 50px;
}

body{
    background-color: #F8F8F8 !important;
}


.btn-reservation{
    margin:1px;
}

.btn-warning{
    color:white !important;
}

.info {
    font-weight: bold;
    color: green;
}

.warn {
    font-weight: bold;
    color: orange;
}

.err {
    font-weight: bold;
    color: red;
}

.table-column {
    width: 25%;
}

.table td{
    vertical-align: middle !important;
}

.table th{
    vertical-align: middle !important;
}

.navbar-user{
    font-size:18px;
    color: white;
    padding-right: 10px;
}

.input-group-text{
    background-color: #777F87 !important;
    border: 1px solid #343A40 !important;
    color:white !important;
}

.status-declined{
    background-color: #dc3545;
    color:white;
}
.status-approved{
    background-color: #28a745;
    color:white;
}

.thumbnail {
    width: 350px;
    overflow: hidden;
}
.view-img img{
    width:350px;
    height:350px;
    display:block;
}
#upload {
    display: none;
}

.profile-table tr{
    margin-top:10px;
    margin-bottom:10px;
}

td input{
    padding-left:5px;
}



