<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="">RentAll</a>
    </div>
</nav>
<div class="container">
    <div class="row h-100">
        <div class="my-auto mx-auto">
            <h1 class="text-center pb-5"><strong>Select type of an account</strong></h1>
            <div class="card shadow  rounded mr-5 registration-card-renter" style="width:500px; height:250px; float:left;">
                <a href="/registration/renter" class="h-100 p-3">
                    <img class="card-img h-100"
                         src="https://www.mcgroupltd.co.uk/assets/img/hero-banner-overlay.png?mode=crop&width=1400&&upscale=false&slimmage=true"
                         alt="Card image">
                </a>
                <div class="p-3">
                    <h3>Renter</h3>
                    <ul>
                        <li>Post your rental vehicles</li>
                        <li>Rent vehicles</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow rounded registration-card-buyer" style="width:500px; height:250px;">
                <a href="/registration/buyer" class="h-100 p-3">
                    <img class="card-img h-100"
                         src="http://pluspng.com/img-png/handshake-png-hd-handshake-png-hands-image-free-download-3056.png" alt="Card image">
                </a>
                <div class="p-3">
                    <h3>Customer</h3>
                    <ul>
                        <li>Search for the vehicles</li>
                        <li>Reserve a vehicle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>