<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="">RentAll</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li sec:authorize="hasAuthority('Renter')" class="nav-item">
                <a class="nav-link" href="/index">Index</a>
            </li>
            <li sec:authorize="hasAuthority('Renter')" class="nav-item active">
                <a class="nav-link" href="/renter/vehicle">Vehicles</a>
            </li>
            <li sec:authorize="hasAuthority('Renter')" class="nav-item">
                <a class="nav-link" href="/renter/reservation">Reservations</a>
            </li>
            <li sec:authorize="hasAuthority('Renter')" class="nav-item">
                <a class="nav-link" href="/renter/profile">Profile</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <p class="m-0 navbar-user"><span sec:authentication="principal.email"></span></p>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1 class="text-center mb-5 mt-5">Vehicles</h1>
    <div>
        <div class="dropdown" style="float:left; margin-right: 10px;">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                New Vehicle
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id="addNewCar">Car</a>
                <a class="dropdown-item" id="addNewTruck">Truck</a>
                <a class="dropdown-item" id="addNewBus">Bus</a>
            </div>
        </div>
        <div id="vehicleTypeMenu" class="btn-group dropright" style="float:left;">
            <button id="btnShowVehicleType" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">All
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="showAll">All</a>
                <a class="dropdown-item" id="showBuses">Bus</a>
                <a class="dropdown-item" id="showCars">Car</a>
                <a class="dropdown-item" id="showTrucks">Truck</a>
            </div>
        </div>
        <div class="input-group mb-3 w-25" style="float:right">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
            </div>
            <input id="searchInput" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <br/>
    <div style="clear:both"></div>
    <div style="margin-top:10px;">
        <div id="insertSuccess" class="alert alert-success login-message">
            <strong><p class="p-0 m-0 text-center">Insert Successful</p></strong>
        </div>
        <div id="insertError" class="alert alert-danger login-message">
            <strong><p class="p-0 m-0 text-center">Insert Failed</p></strong>
        </div>
    </div>

    <table id="vehicleTable"
           class="table table-hover table-light shadow bg-white rounded table-responsive-sm table-responsive-md">
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Manufacture</th>
            <th>Model</th>
            <th>Year</th>
            <th>Registration Plate</th>
            <th>Type</th>
            <th>Subtype</th>
            <th>Available</th>
            <th><p>Price per day (&#8364/day)</p></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,i : ${vehicles}" class="bg-light">
            <th th:text="${i.count}" scope="row"></th>
            <th th:text="${item.id}" scope="row" id="tableId"></th>
            <td th:text="${item.manufacturer}" id="tableManufacturer"></td>
            <td th:text="${item.model}" id="tableModel"></td>
            <td th:text="${item.year}" id="tableYear"></td>
            <td th:text="${item.registrationPlate}" id="tableRegistrationPlate"></td>
            <td th:text="${item.vehicleType}" id="tableType"></td>
            <td th:text="${item.vehicleSubtype}" id="tableSubtype"></td>
            <td th:text="${item.available}" id="tableAvailable"></td>
            <td th:text="${item.pricePerDay}" id="tablePrice"></td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Modal add new Car -->
<form id="formAddNewCar" th:object="${carDto}" enctype="utf8">
    <div class="modal fade" id="modalInsertCar" tabindex="-1" role="dialog"
         aria-labelledby="modalInsertCarInsertCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInsertCarInsertLongTitle"><strong>Car</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <input type="number" value="-1" readonly id="carId" name="id" class="d-none">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Type of Car</label>
                            <select class="custom-select" name="vehicleSubtype" id="carSubtype">
                                <option value="Caravan">Caravan</option>
                                <option value="Limousine">Limousine</option>
                                <option value="Delivery">Delivery</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Available</label>
                            <select class="custom-select" name="available" id="carAvailable">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" id="carManufacturer" name="manufacturer" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" id="carModel" name="model" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>year (yyyy)</label>
                            <input id="carYear" type="number" name="year" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Registration Plate</label>
                            <input id="carRegistrationPlate" type="text" name="registrationPlate" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Engine</label>
                            <input id="carEngine" type="text" name="engine" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Fuel tank (L)</label>
                            <input id="carFuelTank" type="number" value="0" name="fuelTank"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Fuel Consumption (L/100km)</label>
                            <input id="carFuelConsumption" type="number" value="0"
                                   name="fuelConsumption" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>mileage (km)</label>
                            <input id="carMileage" type="number" value="0" name="mileage"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Spare Tires</label>
                            <input id="carSpareTires" type="number" value="0" name="spareTires"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Weight (kg)</label>
                            <input id="carWeight" type="number" value="0" name="weight"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Payload Capacity (kg)</label>
                            <input id="carPayloadCapacity" type="number" value="0"
                                   name="payloadCapacity" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Additional Equipment</label>
                            <input id="carAdditionalEquipment" type="text" name="additionalEquipment"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Price per day (&#8364/day)</label>
                            <input id="carPricePerDay" type="number" value="0" name="pricePerDay"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Number of doors</label>
                            <input id="carNuberOfDoors" type="number" value="0" name="doors"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <input id="carColor" type="text" name="color" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Trunk capacity (L)</label>
                            <input id="carTrunkCapacity" type="number" value="0" name="trunkCapacity"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Picture</label>
                            <div class="thumbnail-vehicle">
                                <div class="view-img-vehicle">
                                    <img src="/images/car_placeholder.jpg" id="carImage">
                                </div>
                                <input type="file" id="uploadCar" name="image">
                                <button id="btnSelectImageCar" type="button" class="btn btn-dark w-100 btn-upload">Select Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnCarUpdate" class="btn btn-info">Update</button>
                    <button type="submit" id="btnCarInsert" class="btn btn-primary">Insert</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal add new Truck -->
<form id="formAddNewTruck" th:object="${truckDto}" enctype="utf8">
    <div class="modal fade" id="modalInsertTruck" tabindex="-1" role="dialog"
         aria-labelledby="modalInsertTruckInsertCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInsertTruckInsertLongTitle"><strong>Truck</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-4">
                        <input type="number" value="-1" readonly id="truckId" name="id" class="d-none">
                        <div class="form-group">
                            <label>Type of Truck</label>
                            <select class="custom-select" name="vehicleSubtype" id="truckSubtype">
                                <option value="Delivery">Delivery</option>
                                <option value="Freight">Freight</option>
                                <option value="Pickup">Pickup</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Available</label>
                            <select class="custom-select" name="available" id="truckAvailable">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" name="manufacturer" class="form-control" id="truckManufacturer">
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" id="truckModel" name="model" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>year (yyyy)</label>
                            <input type="number" name="year" class="form-control" id="truckYear">
                        </div>
                        <div class="form-group">
                            <label>Registration Plate</label>
                            <input type="text" name="registrationPlate" class="form-control"
                                   id="truckRegistrationPlate">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Engine</label>
                            <input type="text" name="engine" class="form-control" id="truckEngine">
                        </div>
                        <div class="form-group">
                            <label>Fuel tank (L)</label>
                            <input type="number" value="0" name="fuelTank" class="form-control" id="truckFuelTank">
                        </div>
                        <div class="form-group">
                            <label>Fuel Consumption (L/100km)</label>
                            <input type="number" value="0" name="fuelConsumption" class="form-control"
                                   id="truckFuelConsumption">
                        </div>
                        <div class="form-group">
                            <label>mileage (km)</label>
                            <input type="number" value="0" name="mileage" class="form-control" id="truckMileage">
                        </div>
                        <div class="form-group">
                            <label>Spare Tires</label>
                            <input type="number" value="0" name="spareTires" class="form-control" id="truckSpareTires">
                        </div>
                        <div class="form-group">
                            <label>Weight (kg)</label>
                            <input type="number" value="0" name="weight" class="form-control" id="truckWeight">
                        </div>
                        <div class="form-group">
                            <label>Payload Capacity (kg)</label>
                            <input type="number" value="0" name="payloadCapacity" class="form-control"
                                   id="truckPayloadCapacity">
                        </div>
                        <div class="form-group">
                            <label>Additional Equipment</label>
                            <input type="text" name="additionalEquipment" class="form-control"
                                   id="truckAdditionalEquipment">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Price per day (&#8364/day)</label>
                            <input id="truckPricePerDay" type="number" value="0" name="pricePerDay"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Truck height (m)</label>
                            <input type="number" value="0.00" step="0.01" name="truckHeight"
                                   class="form-control" id="truckHeight">
                        </div>
                        <div class="form-group">
                            <label>Trailer</label>
                            <select id="selectTrailer" class="custom-select" name="trailer">
                                <option value="false" selected>No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                        <div id="trailerInfo" class="d-none">
                            <div class="form-group">
                                <label>Trailer length (m)</label>
                                <input type="number" value="0.00" step="0.01" name="trailerLength"
                                       class="form-control" id="trailerLength">
                            </div>
                            <div class="form-group">
                                <label>Trailer width (m)</label>
                                <input type="number" value="0.00" step="0.01" name="trailerWidth"
                                       class="form-control" id="trailerWidth">
                            </div>
                            <div class="form-group">
                                <label>Trailer height (m)</label>
                                <input type="number" value="0.00" step="0.01" name="trailerHeight"
                                       class="form-control" id="trailerHeight">
                            </div>
                            <div class="form-group">
                                <label>Freight space (kg)</label>
                                <input type="number" value="0" name="freightSpace" class="form-control"
                                       id="truckFreightSpace">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Picture</label>
                            <div class="thumbnail-vehicle">
                                <div class="view-img-vehicle">
                                    <img src="/images/car_placeholder.jpg" id="truckImage">
                                </div>
                                <input type="file" id="uploadTruck" name="image">
                                <button id="btnSelectImageTruck" type="button" class="btn btn-dark w-100 btn-upload">Select Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button id="btnTruckUpdate" type="submit" class="btn btn-info">Update</button>
                    <button id="btnTruckInsert" type="submit" class="btn btn-primary">Insert</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal add new Bus -->
<form id="formAddNewBus" th:object="${busDto}" enctype="utf8">
    <div class="modal fade" id="modalInsertBus" tabindex="-1" role="dialog"
         aria-labelledby="modalInsertTruckInsertCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInsertBusInsertLongTitle"><strong>Bus</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-4">
                        <input type="number" value="-1" readonly id="busId" name="id" class="d-none">
                        <div class="form-group">
                            <label>Type of Truck</label>
                            <select class="custom-select" name="vehicleSubtype" id="busSubtype">
                                <option value="Band Bus">Band Bus</option>
                                <option value="Minibus">Minibus</option>
                                <option value="Party Bus">Party Bus</option>
                                <option value="School Bus">School Bus</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Available</label>
                            <select class="custom-select" name="available" id="busAvailable">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" name="manufacturer" class="form-control" id="busManufacturer">
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" id="busModel" name="model" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>year (yyyy)</label>
                            <input type="number" name="year" class="form-control" id="busYear">
                        </div>
                        <div class="form-group">
                            <label>Registration Plate</label>
                            <input type="text" name="registrationPlate" class="form-control"
                                   id="busRegistrationPlate">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Engine</label>
                            <input type="text" name="engine" class="form-control" id="busEngine">
                        </div>
                        <div class="form-group">
                            <label>Fuel tank (L)</label>
                            <input type="number" value="0" name="fuelTank" class="form-control" id="busFuelTank">
                        </div>
                        <div class="form-group">
                            <label>Fuel Consumption (L/100km)</label>
                            <input type="number" value="0" name="fuelConsumption" class="form-control"
                                   id="busFuelConsumption">
                        </div>
                        <div class="form-group">
                            <label>mileage (km)</label>
                            <input type="number" value="0" name="mileage" class="form-control" id="busMileage">
                        </div>
                        <div class="form-group">
                            <label>Spare Tires</label>
                            <input type="number" value="0" name="spareTires" class="form-control" id="busSpareTires">
                        </div>
                        <div class="form-group">
                            <label>Weight (kg)</label>
                            <input type="number" value="0" name="weight" class="form-control" id="busWeight">
                        </div>
                        <div class="form-group">
                            <label>Payload Capacity (kg)</label>
                            <input type="number" value="0" name="payloadCapacity" class="form-control"
                                   id="busPayloadCapacity">
                        </div>
                        <div class="form-group">
                            <label>Additional Equipment</label>
                            <input type="text" name="additionalEquipment" class="form-control"
                                   id="busAdditionalEquipment">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Price per day (&#8364/day)</label>
                            <input id="busPricePerDay" type="number" value="0" name="pricePerDay"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Two Story</label>
                            <select class="custom-select" name="twoStory" id="busTwoStory">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Seats</label>
                            <input type="number" value="0" name="seats" class="form-control" id="busSeats">
                        </div>
                        <div class="form-group">
                            <label>Bunker capacity (L)</label>
                            <input type="number" value="0" name="bunkerCapacity" class="form-control"
                                   id="busBunkerCapacity">
                        </div>
                        <div class="form-group">
                            <label>Picture</label>
                            <div class="thumbnail-vehicle">
                                <div class="view-img-vehicle">
                                    <img src="/images/car_placeholder.jpg" id="busImage">
                                </div>
                                <input type="file" id="uploadBus" name="image">
                                <button id="btnSelectImageBus" type="button" class="btn btn-dark w-100 btn-upload">Select Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button id="btnBusUpdate" type="submit" class="btn btn-info">Update</button>
                    <button id="btnBusInsert" type="submit" class="btn btn-primary">Insert</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/renterVehicle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

</body>
</html>